<!--<form [formGroup]="form" no-lines (submit)="goToConcert(form.value)">-->
        <!--<ion-col width-80>-->
<!--<ion-row>-->
<!--<ion-item class="input">-->
                <!--<ion-input text-center formControlName="codeInput" type="text" placeholder="Place your code"></ion-input>-->
            <!--</ion-item>-->
        <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row>-->
        <!--<ion-col>-->
            <!--<button ion-button class="button" type="submit">-->
                <!--Let's Go!-->
            <!--</button>-->
        <!--</ion-col>-->
    <!--</ion-row>-->
<!--</form>-->
